<footer class="main-footer">
    <div class="row">
        {% for block in footer.blocks %}
            <div class="large-3 columns">
                <div class="footer-nav-block">
                    <h4>{{ block.header }}
                    </h4>
                    <ul>
                        {% for item in block.list %}
                            <li>
                                <a href="{{ item.link }}" title="{{ item.name }}">{{ item.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="large-6 columns">
            {{ copyright.site }}
        </div>
        <div class="large-6 columns">
            <p>2018</p>
        </div>
    </div>
</footer>
